{% extends ':service:base_service.html.twig' %}

{% block sub_content %}

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-xs btn-primary" href="{{ path('service_mail_send') }}"><span
                        class="glyphicon glyphicon-send"></span> {{ 'send_mail'|trans }}</a>
        </div>
    </div>

{% endblock %}

