<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Knp Snappy Bundle Document Exemple</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ absolute_url(asset('plugins/components-font-awesome/css/font-awesome.min.css')) }}">
</head>
<body>

<div class="container">

    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Navbar examples</h1>
            <p>This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="../navbar-top/">top</a> and <a href="../navbar-top-fixed/">fixed top</a> examples.</p>
            <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
            <p>
                <a class="btn btn-primary" href="#" role="button">View navbar docs »</a>
            </p>
        </div>
    </div>

    <figure class="figure">
        <img src="{{ absolute_url(asset('images/lena.gif')) }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>

    <p>
        <a class="btn btn-secondary" href="{{ url('bundle_knp_snappy') }}"><span class="fa fa-chevron-left"></span> Back to Knp Snappy Bundle</a>
    </p>

</div>

</body>
</html>